/* ESTILOS ESTRUCTURA PÁGINA */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Quicksand', sans-serif;
}

.fullContainer{
  width: 100%;
  border: 1px solid #bc0909;
  background-color: #fff;
  padding: 2rem 0rem;
}

header {
  text-align: center;
  padding: 4rem 0rem 2rem;
}

nav {
  margin: 0 auto;
  text-align: center;
  padding: 0.75rem 0!important;
  background-color: #08807e!important;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul li {
  font: 500 1.2rem/1.2 'Quicksand', sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: #f6ff7b;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 0rem;
}
.contenido {
  padding: 0px 0px;
}
.sobremiIndex,
.serviciosIndex,
.proyectosIndex {
  background-color: #efefef;
  padding: 30px 35px;
  display: flex;
  flex-flow: column nowrap;
  gap: 35px;
  align-items: center;
}
/* ================  
Apartado Sobre Mi
====================*/
.sobremiIndex img {
  border-radius: 20px;
}
.sobremiIndex .txt-sobremi {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  text-align: justify;
  padding-bottom: 20px;
}
/* ================  
Apartado Servicios
====================*/
.serviciosIndex {
  background-color: #fff;
  gap: 0;
  padding: 40px 35px;
}
.listServicios,
.listProyectos {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px 0px;
}
.servicioContainer,
.proyectoContainer {
  background-color: #f0eeee;
  padding: 20px 15px 5px;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  text-align: center;
}
/* ================  
Apartado Proyectos
====================*/
.proyectosIndex {
  background-color: #fbfbfb;
  padding-top: 45px;
  gap: 5px;
}
.proyectoContainer {
  padding: 0;
}
.imgProyecto {
  padding: 0;
}
.imgProyecto img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.txtProyecto {
  padding: 25px 35px;
}
/*
section {
  margin-right: 450px;
}

aside {
  width: 350px;
  padding: 6rem 4rem 4rem 3rem;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  text-align: center;
  background-color: #0b7b79e2;
  padding: 1rem 0;
  margin-top: 1rem;
}
 */


/* ESTILOS TEXTO */
h1 {
  font: 300 2.2rem/1.2 "Playfair Display", serif;
  text-align: center;
  color: #0b687b;
}

h2 {
  font: 400 1.6rem/1.2 'Playfair Display', sans-serif;
  text-transform: uppercase;
  margin: 0rem 0 1.5rem;
}
.sobremiIndex .txt-sobremi h2,
.sobremiIndex .txt-sobremi p.botn {
  text-align: center;
  margin-bottom: 0;
}
h3 {
  font: 400 1.5rem/1.2 'Playfair Display', sans-serif;
  margin-bottom: 1rem;
}

p {
  font: 400 1.25rem/1.4 "Quicksand", sans-serif;
  color: #131313;
  margin-bottom: 1rem;
}
p.botn {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  font-size: 1.1rem;
}
p.botn a {
  background-color: #131313;
  padding: 15px 35px;
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
}
p.botn a:hover {
  background-color: #fff;
  border: 2px solid #131313;
  color: #131313;
}
.txtProyecto p a {
  text-decoration: none;
  font-weight: 600px;
  text-align: center;
  color: #890000;
}

footer p {
  color: #fff;
  margin-bottom: 0rem;
  font-size: 1.1rem;
}



/* ============================
          768px 
=================================*/

@media screen and (min-width:769px){
  
  nav ul {
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  h1 {
    font-size: 2.6rem;
  }
  .sobremiIndex {
    flex-flow: row nowrap;
    gap: 55px;
    padding: 40px 55px;
    align-items: flex-start;
  }
  .sobremiIndex .txt-sobremi {
    text-align: left;
  }
  .sobremiIndex .txt-sobremi h2,
  .sobremiIndex .txt-sobremi p.botn {
    text-align: left;
  }
  .listServicios,
  .listProyectos {
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }
  .servicioContainer,
  .proyectoContainer {
    width: calc(50% - 13px);
  }

}/*cierra 768*/

/* ============================
          992px 
=================================*/

@media screen and (min-width:992px) {
  nav ul {
    justify-content: center;
    gap: 60px
  }
  nav ul li {
      font-size: 1.6rem;
    }
  h1 {
    font-size: 3rem;
  }
  .sobremiIndex {
    gap: 65px;
    padding: 50px 85px;
  }
  .sobremiIndex .txt-sobremi {
    padding-top: 50px;
  }
  .servicioContainer,
  .proyectoContainer {
    width: calc(25% - 19px);
  }
}

/*cierra 992*/

/* ============================
          1200px 
=================================*/

@media screen and (min-width:1200px) {}

/*cierra 1200*/